src/*.pyc
src/__pycache__/
src/.DS_store
src/.Python
src/models/__init__.pyc
src/models/convnets.pyc
src/preprocessors/__init__.pyc
src/preprocessors/preprocess_text.pyc
stance/predictions_test.csv
stance/oneline_body.csv
stance/oneline_stances_unlabeled.csv
__pycache__/
lib/
include/
*.log
*.db
.Python
node_modulesi
.DS_store
cert.pem
key.pem
